/* :root {
  --primary-color: #264653;
  --light-primary: #2a9d8f;
  --lightest-color: #e76f51;
  --secondary-color: #f4a261;
  --light-secondary: #780000;
} */

:root {
  --primary-color: #1d3557; /* Azul Marinho Profundo (ideal para Header/Footer) */
  --light-primary: #457b9d; /* Azul Aço (ideal para o fundo da página/overlay) */
  --lightest-color: #f1faee; /* Branco Gelo (ideal para o fundo do Modal ou Cards) */
  --secondary-color: #a8dadc; /* Azul Tiffany (ideal para detalhes e bordas) */
  --light-secondary: #e63946; /* Vermelho Vivo (perfeito para o botão 'Remover' ou alertas) */
}

* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  cursor: pointer;
  all: unset;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--lightest-color);
}

#search-container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

header > h2 > i {
  margin-right: 0.5rem;
}

.movie-name-wrapper {
  width: 65%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.movie-year-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.movie-year-wrapper > input {
  max-width: 5rem;
}

.movie-name-wrapper > input {
  width: 100%;
}

.movie-year-wrapper > input,
.movie-name-wrapper > input {
  margin: 0 0.5rem;
  border-radius: 20px;
  padding: 0.3rem 0.2rem;
  font-weight: bold;
}

.movie-year-wrapper > label,
.movie-year-wrapper > label {
  font-weight: bold;
}

#search-button {
  width: 5%;
  display: flex;
  all: unset;
  padding: 0.3rem;
  border: 1px solid var(--light-primary);
  border-radius: 10px;
}

#search-button:focus,
#search-button:hover {
  background-color: var(--light-secondary);
}

main {
  text-align: center;
  padding: 2rem 0;
  background-color: var(--lightest-color);
  color: var(--primary-color);
  flex-grow: 1;
}

#movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

#movie-list article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#movie-list article > img {
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.remove-button {
  border: 3px solid var(--primary-color);
  padding: 0.3rem 0;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 10px #000;
  color: var(--light-secondary);
}

.remove-button:focus,
.remove-button:hover {
  background-color: var(--light-secondary);
  color: var(--secondary-color);
}
